/* 
    DONT edit app/css/modules/_sprite.css (bc it is generated automatically by Gulp), instead edit app/gulp/template/sprite.css
*/
 {{#shapes}} /* loops through icons in assets folder */
    {{#first}} /* only outputs once in loop */
        .icon {
            /* background-image: url('/assets/sprite/{{{sprite}}}'); */
            background-image: url('../../assets/sprite/{{{sprite}}}');
        }
        
        .no-svg .icon {
            /* background-image: url('/assets/sprite/{{#replaceSvgWithPng}}{{{sprite}}}{{/replaceSvgWithPng}}'); */
            background-image: url('../../assets/sprite/{{#replaceSvgWithPng}}{{{sprite}}}{{/replaceSvgWithPng}}');
        }
    {{/first}}

    .icon--{{base}} { /* creates .icon--FILENAME class based on FILENAME */
        width: {{width.outer}}px;
        height: {{height.outer}}px;
        background-position: {{position.relative.xy}};
    }
{{/shapes}}