.btn {
    background-color: $blue;
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 1.2rem;
    display: inline-block;
    &--orange {
        background-color: $orange;
    }
    &--large {
        padding: 1.1rem 1.9rem;

        @mixin atSmall {
            font-size: 1.25rem;
        }
    }
}