.section-title {
    font-weight: 300;
    text-align: center;
    font-size: 2.55rem;

    @mixin atSmall {
        font-size: 3.75rem;
    }

    strong {
        font-weight: 500;
    }

    &--blue {
        color: $blue;
    }

    &--bolder {
        strong {
            font-weight: 700;
        }    
    }

    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.6rem;

        @mixin atSmall {
            position: relative;
            top: 8px;
            margin-right: 1rem;
            margin-left: 0;
            margin-bottom: 0;
            display: inline-block;
        }
    }
}