.site-footer {
    background-color: $blue;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
    
    &__text {
        display: block;
        margin-bottom: 1rem;
        font-weight: 200;
  
        @mixin atMedium {
            display: inline;
            margin-bottom: 0;
            margin-right: 1.4rem;
        }
    }

}