/* 
    DONT edit app/css/modules/_sprite.css (bc it is generated automatically by Gulp), instead edit app/gulp/template/sprite.css
*/
  /* loops through icons in assets folder */
     /* only outputs once in loop */
        .icon {
            /* background-image: url('/assets/sprite/sprite-e79e95cc.svg'); */
            background-image: url('../../assets/sprite/sprite-e79e95cc.svg');
        }
        
        .no-svg .icon {
            /* background-image: url('/assets/sprite/sprite-e79e95cc.png'); */
            background-image: url('../../assets/sprite/sprite-e79e95cc.png');
        }

    .icon--clear-view-escapes { /* creates .icon--FILENAME class based on FILENAME */
        width: 144.4px;
        height: 61.53px;
        background-position: 0 0;
    }
 /* loops through icons in assets folder */
    
    .icon--comment { /* creates .icon--FILENAME class based on FILENAME */
        width: 66px;
        height: 66px;
        background-position: 99.71014492753623% 0;
    }
 /* loops through icons in assets folder */
    
    .icon--facebook { /* creates .icon--FILENAME class based on FILENAME */
        width: 23.23px;
        height: 44.01px;
        background-position: 26.424310365536293% 45.92133741323979%;
    }
 /* loops through icons in assets folder */
    
    .icon--fire { /* creates .icon--FILENAME class based on FILENAME */
        width: 58px;
        height: 66px;
        background-position: 0 99.58035714285714%;
    }
 /* loops through icons in assets folder */
    
    .icon--globe { /* creates .icon--FILENAME class based on FILENAME */
        width: 66px;
        height: 66px;
        background-position: 28.019323671497585% 99.58035714285714%;
    }
 /* loops through icons in assets folder */
    
    .icon--instagram { /* creates .icon--FILENAME class based on FILENAME */
        width: 44.01px;
        height: 44.01px;
        background-position: 63.059522249879905% 49.25740726919919%;
    }
 /* loops through icons in assets folder */
    
    .icon--mail { /* creates .icon--FILENAME class based on FILENAME */
        width: 66px;
        height: 50px;
        background-position: 0 48.0703125%;
    }
 /* loops through icons in assets folder */
    
    .icon--rain { /* creates .icon--FILENAME class based on FILENAME */
        width: 66px;
        height: 66px;
        background-position: 99.71014492753623% 58.92857142857143%;
    }
 /* loops through icons in assets folder */
    
    .icon--star { /* creates .icon--FILENAME class based on FILENAME */
        width: 66px;
        height: 66px;
        background-position: 59.90338164251208% 99.58035714285714%;
    }
 /* loops through icons in assets folder */
    
    .icon--twitter { /* creates .icon--FILENAME class based on FILENAME */
        width: 53.78px;
        height: 44.06px;
        background-position: 94.15199343125627% 98.55159026429745%;
    }
 /* loops through icons in assets folder */
    
    .icon--wifi { /* creates .icon--FILENAME class based on FILENAME */
        width: 62px;
        height: 66px;
        background-position: 68.43601895734596% 0;
    }
 /* loops through icons in assets folder */
    
    .icon--youtube { /* creates .icon--FILENAME class based on FILENAME */
        width: 36.75px;
        height: 44px;
        background-position: 37.76931216931217% 45.917910447761194%;
    }
